<!doctype html>
<html ng-app="conversorApp">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="lib/angular/angular.min.js"></script>
    <script src="js/conversorController.js"></script>
  </head>
  <body class="container">
    <h1>Conversor de millas a kilometros</h1>
    <div class="panel panel-default" ng-controller="ConversorCtrl as conversor">
      <div class="conversion">
        <div class="form-group">
          <label class="lead">Ingrese Millas:</label>
          <input type="text" class="form-control" placeholder="millas a convertir" ng-model="conversor.millas"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block" ng-click="convertir()">Convertir</button>
      </div>
      <h4 class="text-center">Son <span id="resultado">{{conversor.kilometros}}</span> kms</h4>
    </div>
  </body>
</html>